.Visual {
	width: 100%;
	height: calc(100vh - 90px);
	position: relative;
	margin: 0 auto;

	.swiper {
		width: 100%;
		height: 100%;

		.swiper-wrapper {
			.swiper-slide {
				padding: 100px 0px;

				> .inner {
					width: 70%;
					height: 100%;
					background-color: var(--pointColor);
					margin: 0 auto;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					align-content: center;
					color: var(--bgColor);
				}
			}
		}
	}
}
