.Visual {
	width: 100%;
	height: calc(100vh - 90px);
	position: relative;
	margin: 0 auto;
	.swiper {
		width: 100%;
		height: 100%;
		.swiper-wrapper {
			.swiper-slide {
				padding: 100px 0px;
				> .inner {
					width: 70%;
					height: 100%;
					background-color: var(--pointColor);
					margin: 0 auto;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					align-content: center;
					color: var(--bgColor);
				}
			}
		}

		.swiper-pagination {
			width: 70%;
			left: 15%;
			bottom: 40px;

			span {
				display: inline-block;
				width: 10px;
				height: 10px;
				margin: 0px 5px;
				border-radius: 5px;
				background-color: var(--baseColor);
				color: var(--bgColor);
				text-indent: -9999px;
				cursor: pointer;
				transition: width 0.5s, background-color 0.5s;
			}

			span.swiper-pagination-bullet-active {
				width: 60px;
			}
		}
	}
}
