.Department {
	.historyBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 200px;

		h2 {
			width: 20%;
			font-size: 2rem;
			font-weight: normal;
			opacity: 0.8;
		}
		.con {
			width: 75%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			border-left: 1px solid transparent;
			border-image: radial-gradient(rgba(var(--baseColor-code), 0.3) 90%, transparent) 1;
			padding-left: 80px;

			article {
				width: 100%;
				margin-bottom: 70px;

				h3 {
					font-size: 2rem;
					margin-bottom: 20px;
				}
				ul {
					li {
						line-height: 1.6;
					}
				}
			}
		}
	}
	.memberBox {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		h2 {
			width: 20%;
			font-size: 2rem;
			font-weight: normal;
			opacity: 0.8;
		}
		.con {
			width: 75%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			border-left: 1px solid transparent;
			border-image: radial-gradient(rgba(var(--baseColor-code), 0.3) 90%, transparent) 1;
			padding-left: 80px;

			article {
				width: 31%;
				margin-bottom: 50px;

				.pic {
					width: 100%;
					height: 300px;
					margin-bottom: 10px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				h3 {
					font-weight: bold;
					font-size: 1.4rem;
					opacity: 0.8;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.tablet,
.mobile {
	.Department {
		.historyBox {
			h2 {
				width: 100%;
				margin-bottom: 60px;
			}
			.con {
				width: 100%;
				padding-left: 0;
				border-left: none;
			}
		}
		.memberBox {
			h2 {
				width: 100%;
				margin-bottom: 60px;
			}
			.con {
				width: 100%;
				padding-left: 0;
				border-left: none;
			}
		}
	}
}

.mobile {
	.Department {
		.memberBox {
			.con {
				article {
					width: 100%;
					margin-bottom: 50px;
				}
			}
		}
	}
}

/*
	react style 관련 이슈
	-리액트 컴포넌트 단위로 파일을 쪼개기 때문에 그에 따라 style.scss파일도 많아짐
	-효율적인 유지보수를 위해서 공통으로 관리될 값들을 Variables.scss에 css변수로 관리함
	-이떄 scss변수가 아닌 css변수를 쓰는 이유는 scss변수는 sass loader에 의해서 초기 컴파일될떄의 값이 static하게 고정됨
	-리액트에서 이벤트 발생시 scss변수는 변수의 값을 실시간 변경이 불가능
	-스타일의 속성이 아닌 브라우저가 인지해야 되는 미디어쿼리 구문의 디바이스폭의 경우는 css변수가 처리안됨
	-미디어쿼리 디바이스폭 구문만 컴파일시 브라우저가 해석할 수 있는 변수로 적용
	-이때 발생하는 문제점 - scss변수를 읽기 위해서는 각 scss파일에서 일일이 Variable.scss을 import처리해야되는 불편함
*/
