.Contact {
	.tab {
		width: 100%;
		height: 50vh;
		background-color: var(--baseColor);
		position: relative;
		filter: saturate(0);
		transition: filter 0.5s;

		&:hover {
			filter: saturate(1);
		}

		.mapBox,
		.viewBox {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			z-index: 1;

			&.on {
				opacity: 1;
				z-index: 2;
			}
		}
	}
}
.dark {
	.Contact {
		.tab {
			filter: saturate(0) invert(1) contrast(0.7);
		}
	}
}

/*
filter
saturate(1):1보다 작으면 채도 낮추고, 크면 채도를 올림
brightness(1):1보다 작으면 명도를 낮추고, 크면 명도를 올림
contrast(1):1보다 작으면 명암의 대비폭을 낮추고, 크면 명도대비를 올림
invert(1):1  :명도와 생상값을 반전 , 0 : 원래값
hue-rotate(0deg):현재 색상기준으로 생상환의 각도를 변경해서 생상자체를 바꿈 (180 deg반대색)
*/
